* {
    margin: 0;
    padding: 0;
}

.html,
.body {
    height: 100%;
}

.body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: linear-gradient(125deg, #FC466B 0%, #ffffff 45%, #ffffff 55%, #3F5EFB 100%);
}